<div class="row clearfix">
  <% if task.completed? %>
    <div class="complete">
      <%= link_to complete_project_task_path(@project, task.id), method: :patch do %>
        <div style="opacity: 0.4;" class="fas fa-check text-white"></div>
      <% end %>
    </div>
    <div class="todo_item">
      <p style="opacity: 0.4;"><strike><%= task.content %></strike></p>
    </div>
    <div class="trash">
      <%= link_to project_task_path(@project, task.id), method: :delete, data: { confirm: 'are you sure?' } do %>
        <div class="fas fa-trash text-white"></div>
      <% end %>
    </div>
  <% else %>
    <div class="complete">
      <%= link_to complete_project_task_path(@project, task.id), method: :patch do %>
        <div class="fas fa-check text-white"></div>
      <% end %>
    </div>
    <div class="todo_item">
      <p><%= task.content %></p>
    </div>
    <div class="trash">
      <%= link_to project_task_path(@project, task.id), method: :delete, data: { confirm: 'are you sure?' } do %>
        <div class="fas fa-trash text-white"></div>
      <% end %>
    </div>
  <% end %>
</div>