<!DOCTYPE html>
<html>
  <head>
    <title>ProjectManagement</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if notice.present? || alert.present? %>
    <div aria-live="polite" aria-atomic="true" class="position-relative">
      <div class="toast-container top-0 end-0 p-3">
        <% flash.each do |type, msg| %>
          <div class="toast bg-primary" role='alert' aria-atomic="true" aria-live="assertive">
            <div class="d-flex">
              <div class="toast-body">
                <div>
                  <%= msg %>
                </div>
              </div>
              <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="container">
    <%= yield %>
  </div>

  </body>
</html>
